// Scss Document

@charset "UTF-8";

html {
	scroll-behavior: smooth;
    scroll-padding-top: 240px;

}

*{
  margin: 0;
  padding: 0;
  width: auto;
}


body { 
 padding:0px; 
 margin:0px; 
 } 

h1, h2, h3, h4, h5, h6 {
    font-family: "Space Grotesk";
    font-size: 32px;
}

p:not(.exclude-font), a:not(.exclude-font) {
    font-family: "Space Grotesk";
}

/* Nav y Background */

.topnav {
  background-color: #161616;
  text-align: center;
  position: fixed;
  width: 100%;
  display: table;
  z-index: 1;
    
    .navbar {
  display: inline-block;
  float: none;
  vertical-align: top;
        
    ul {
	  list-style-type: none;
	  overflow: hidden;
        }
    li {
	  float: center;
	  display: inline;
        }
    a {
      display: block;
      color: #d7ac46;
      float: none;
      text-align: center;
      padding: 10px 16px;
      text-decoration: none;
      font-size: 17px;
      box-shadow: inset 0 0 0 0 #d7ac46;
      margin: 0 -.25rem;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        }
    a:hover {
      box-shadow: inset 200px 0 0 0 #d7ac46;
      color: #161616;
            }
     }
}

.background {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  margin-bottom: 40px;

  .background-i {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      filter: blur(5px);
      opacity: 0.8;
      background-image: url("../assets/img/portfolio/hotel.jpg");
      background-size: cover;
      background-position: center;
                }
             }
    
    .background-r {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      filter: blur(5px);
      opacity: 0.8;
      background-image: url("../assets/img/portfolio/restaurante.jpg");
      background-size: cover;
      background-position: center;
                }
             }
    
    .background-s {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      filter: blur(5px);
      opacity: 0.8;
      background-image: url("../assets/img/portfolio/servicios.jpg");
      background-size: cover;
      background-position: center;
                }
             }
    
    .background-rs {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      filter: blur(5px);
      opacity: 0.8;
      background-image: url("../assets/img/portfolio/reservas.jpg");
      background-size: cover;
      background-position: center;
                }
             }
    
    .background-c {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      filter: blur(5px);
      opacity: 0.8;
      background-image: url("../assets/img/portfolio/contacto.jpeg");
      background-size: cover;
      background-position: center;
                }
             }
    
    .overlay {
        top: 30%;
        position: relative;
        text-align: center;
        max-height: 100vh;
        overflow-y: auto;


             div {

                 a {
                    background-color: #d7ac46;
                    color: white;
                     }
                 a:hover { 
                    background-color: #161616;
                    color: #d7ac46;
                        }  
                    }

            }
}

.logo {
	width: 100px;
	height: auto;
	float: center;

}

/* Textos */ 


	
.contact {
    
    .titles {
	text-align: center;
	font-size: 60px;
    color: white;
    }	
    
    label {
        color: white;
    }
}

.cabecera {
    
    .container {
        
        .titles {
	text-align: center;
	font-size: 60px;
    color: white;
    }	
       .subtitles {
	text-align: center;
	font-size: 30px;
	color: darkslategray;
                }
        }
    }

.habitaciones {
    
    .container {
        
        .titles {
	text-align: center;
	font-size: 60px;
    color: darkslategray;
                }	
    }
}

.reservas {
    
    .container {
        
        .titles {
	text-align: center;
	font-size: 60px;
    color: white;
                }	
        
        label {
        color: white;
                }
        .pintura {
      overflow: hidden;
      padding-left: 10%;

        img {
      animation: slide-in 3s ease-out forwards;
            }
                }
            }
        }

.explicacion {
    
    .container {
        
        .muestra {
      overflow: hidden;
      padding-left: 10%;

        img {
      animation: slide-in 3s ease-out forwards;
            }
                }
    }
}

.menu {
    
    .container {
        
        .titles {
	text-align: center;
	font-size: 60px;
    color: darkslategray;
                }	
    }
}

/* Body */

.section {
            padding: 80px 0;
        }
    
.image-box, {
      animation: slide-in 3s ease-out forwards;
      object-fit: cover;
      max-width: 100%;
      max-height: 400px;
}

.image-box-2 {
      animation: slide-out 3s ease-out forwards;
      object-fit: cover;
      max-width: 100%;
      max-height: 400px;
}

.btns-i { a {
             background-color: #d7ac46;
            color: white;
                     }
    
            a:hover { 
            background-color: #161616;
            color: #d7ac46;
                      }  
}

.service img {
          width: 600px;
}
.sections {
	display: inline-block;
	padding: 0px;
	margin: 0px;
	background-color: darkslategray;
	width: 100%;
    
    .titles{
	text-align: center;
	font-size: 60px;
    color: white;
    }
    
    .subtitles {
	text-align: center;
	font-size: 30px;
	color: white;
            }
}

.sections-s {
	display: inline-block;
	padding: 0px;
	margin: 0px;
	background-color: #d7ac46;
	width: 100%;
}

.sections .flex-container {
	display: inline-flex;
	justify-content: center;
	width: auto;
	height: auto;

    > div {
  background-color: #d7ac46;
  margin: 100px;
  padding: 100px;
  font-size: 20px;
  justify-content: space-between;
            }
        p{
	margin-left: 40px;
	margin-right: 15px;
	text-align: justify;
	align-content: space-around;
        }
    
}

/* Restaurante IMGS */

.imagenes-columnas {
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr;
	  text-align: center;
	  
	  
	}
.columnas-img {
	  padding: 16px;
	  height: 300px;
	  margin: 5px;
	  background-color: #d7ac46;
	
        img {
	object-fit: cover;
	width: 100%;
	max-height: 100%;
            }
}

/* Servicios */

.sections .flex-container-s {
	display: inline-flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	width: 100%;
	height: auto;

    > div {
  background-color: #d7ac46;
  margin: 100px;
  padding: 100px;
  font-size: 20px;
  justify-content: space-between;
            }

        p {
	margin-left: 40px;
	margin-right: 15px;
	text-align: justify;
	align-content: space-around;
        }
}

/* Keyframes */

@keyframes slide-in {
  0% {
    transform: translateX(100%);
      }
  100% {
    transform: translateX(0);
      }
                    }

@keyframes slide-out {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 800px) {
  .overlay {
    max-height: 50%;
    overflow-y: hidden;
  }
}
